:root {
  /* layouts */
  --container-width: 1140px;
  --container-padding: 20px;

  /* colors */
  --dark: #222;
  --red: #E53D2F;
  --light: #fff;
  --grey: #505051;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

body {
  background: var(--dark);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
